
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-primary: "Urbanist", sans-serif;

$yellow-50: #FEF8E9;

$green-50: #F3F9F7;
$green-100: #D0E3DD;
$green-400: #2E8566;
$green-500: #006A44;

$gray-50: #F9F9F9;
$gray-100: #DFDFDF;
$gray-200: #EFEFEF;
$gray-400: #7F7F7F;
$gray-500: #232323;

$primary-yellow: #FDB913;
$primary-green: $green-500;
$primary-red: #C1272D;
$primary-gray: #4F4F4F;
$primary-white: #ffffff;
$primary-black: #232323;

$secondary-brown: #B27126;
$secondary-silver: #AFAFAF;

$text-black: $primary-black;
$text-gray-400: $gray-400;
$text-white: $primary-white;
$text-yellow: $primary-yellow;
$text-green: $primary-green;
$text-red: $primary-red;

$bg-white: $primary-white;
$bg-green-50: $green-50;
$bg-green-500: $green-500;
$bg-gray-50: $gray-50;
$bg-gray-100: $gray-100;
$bg-gray-200: $gray-200;
$bg-gray-500: $gray-500;
$bg-black: $primary-black;
$bg-yellow-50: $yellow-50;
$bg-yellow-500: $primary-yellow;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1720px;

$container-max-width: 1728px;

$index: calc(1vw + 1vh);

