@use '../base/global' as *;


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: rem(16);
  line-height: 1.5;
  scroll-behavior: smooth;

}

body {
  font-family: $font-primary;
  color: #333;
  background-color: #fff;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  font-weight: 700;
  line-height: rem(104);
  margin: 0;
}

h1 {
  font-size: 6rem;
  @include media(md) {
    font-size: 3rem;
    line-height: rem(72);
  }
  @include media(sm) {
    font-size: 2rem;
    line-height: rem(40);
  }
}

h2 {
  font-size: 5.5rem;
  @include media(sm) {
    font-size: 2.5rem;
    line-height: rem(48);
  }
}

h3 {
  font-size: 3rem;
  line-height: rem(72);
  @include media(sm) {
    font-size: 2rem;
    line-height: rem(40);
    font-style: normal;
    letter-spacing: rem(0);
    font-weight: 700;
  }
}

h4 {
  font-size: 2.5rem;
  line-height: rem(48);
}

h5 {
  font-size: 2rem;
  line-height: rem(40);
}

h6 {
  font-size: 1.5rem;
  line-height: rem(32);
}

.subtitle1, .subtitle2, .body1, .body2, .caption, .overline {
  font-family: $font-primary;
  font-weight: 700;
  line-height: rem(24);
}

.subtitle1 {
  font-size: 1rem;
}

.subtitle2 {
  font-size: 0.875rem;
  line-height: rem(18);
}

.body1 {
  font-size: 1rem;
  line-height: rem(24);
  font-weight: 400;

  &--700 {
    font-weight: 700;
  }
}

.body2 {
  font-size: 0.875rem;
  line-height: rem(18);
  font-weight: 400;
}

.caption {
  font-size: 0.75rem;
  line-height: rem(16);
  font-weight: 400;
}

.overline {
  font-size: 1rem;
  line-height: rem(32);
  font-style: italic;
  letter-spacing: rem(1);

  &--32 {
    font-size: 2rem;
    font-style: italic;
    text-transform: uppercase;
    @include media(sm) {
      font-size: rem(24);
      line-height: rem(32);
      font-style: italic;
      letter-spacing: rem(1);
      text-transform: uppercase;
    }
  }
}


.color-red {
  color: $primary-red;
}

.color-yellow {
  color: $primary-yellow;
}

.color-green {
  color: $primary-green;
}

.color-gray {
  color: $gray-400;
}
