@use '../base/global' as *;

.container {
  width: 100%;
  max-width: $container-max-width;
  padding: 6rem 2rem;
  margin: 0 auto;
  @include media(md) {
    padding: 4rem 1rem;
  }
  @include media(sm) {
    padding: 2rem 1rem;
  }
}
