@use '../base/global' as *;

.copy-wrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: rem(10);
  border: 1px solid $gray-100;
  border-radius: 1rem;
  outline: none;
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;


  &:hover {
    border-color: $green-500;
  }

  &:active,
  &:focus {
    border-color: $gray-100;
    background-color: $bg-green-50;
  }

  &:invalid {
    border-color: #dc3545;
  }

  &:disabled {
    background-color: #e9ecef;
    border-color: #ced4da;
    cursor: not-allowed;
  }

  &.error {
    border-color: #dc3545;
    background-color: #f8d7da;
    color: #721c24;
  }
}

.clipboard-icon {
  position: absolute;
  right: rem(10);
  top: 71%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: rem(16);
  pointer-events: auto;
}

.select-wrapper {
  position: relative;
  display: flex;
  flex-direction: var(--direction, row);
  align-items: var( --align, center); ;
  gap: rem(8);
  @include media(sm) {
    width: 100%;
  }

  .select {
    width: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid $gray-100;
    border-radius: 1rem;
    padding: rem(10);
    background-color: white;
    transition: border 0.3s ease;


    &.error {
      border-color: #dc3545;
      background-color: #f8d7da;
      color: #721c24;
    }

    .select-trigger {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 1rem;
      cursor: pointer;
      min-height: rem(24);
      white-space: nowrap;
      min-width: rem(120);
      gap: rem(8);
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: rem(24);

      &::after {
        content: url("/img/icons/action_icon/arrow-down_icon.svg");
        position: absolute;
        right: rem(10);
        top: 50%;
        transform: translateY(-35%);
      }

      &.open::after {
        content: url("/img/icons/action_icon/arrow-up_icon.svg");
      }
    }


    .select-options {
      position: absolute;
      width: 100%;
      background: white;
      border-radius: 0.5rem;
      border: 1px solid $gray-100;
      z-index: 1000;
      display: none;
      max-height: rem(200);
      overflow-y: auto;
      top: calc(100% + 8px);
      right: calc(100% - 16px);
      left: 0;


      .option {
        padding: rem(10);
        color: black;
        cursor: pointer;

        &:hover {
          background-color: $gray-100;
        }
      }
    }
  }
}






