@use "../base/global" as *;


.contact {
  background-image: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%),
  image-set(
      url('/img/bg_image/contact_bg.webp') type("image/webp"),
      url("/img/bg_image/contact_bg.png") type("image/png")
  );
  background-size: cover;
  background-position: center;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(32);
    @include media(md) {
      grid-template-columns: 1fr;
      gap: rem(32);
    }
  }
  &__support {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include media(md) {
      flex-direction: column;
      gap: rem(32);
    }
  }

  &__support-img {
    width: 100%;
    max-width: rem(164);
    @include media(md) {
      max-width: rem(164);
    }
  }

  &__description {
    max-width: rem(674);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }

  &__form-wrapper {
    background-color: $bg-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(24);
    padding: rem(24);
    border-radius: rem(16);
    border: 1px solid $gray-100;
  }

  &__form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(23);

  }

  &__form-group {
    display: flex;
    flex-direction: row;
    gap: rem(32);
    @include media(sm) {
      flex-direction: column;
      gap: rem(23);
    }
  }
}
