@use "../base/global" as *;

.cups {
  &__cup-item {
    max-width: rem(250);
    width: 100%;
    display: flex;
    gap: rem(11);
    flex-direction: column;
    align-items: center;
    text-align: center;
    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: rem(4);
    }
  }
}
