@use "../base/global" as *;



.offer {
  &__wrapper {
    background-color: $bg-yellow-500;
    border-radius: rem(32);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    @include media(md) {
      grid-template-columns: 1fr;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    padding: rem(64) rem(32) rem(64) rem(64);
    @include media(md) {
      padding: rem(32) rem(16) rem(32) rem(16);
    }
  }

  &__description-text {
    display: flex;
    flex-direction: column;
    gap: rem(16);

    ul {
      list-style-type: disc;
      padding-left: rem(20);
    }

    li::marker {
      font-size: rem(8);
      color: $primary-black;
    }


  }

  &__image {
    position: relative;
    display: flex;
  }
}

.offer__image {
  picture {
    position: relative;
    display: flex;
  }

  &--img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

}

//.offer__image picture img {
//  width: 100%;
//  height: auto;
//  object-fit: cover;
//  display: block;
//}
