@use "../base/global" as *;

.partners {

  &__item {
    max-width: rem(392);
    width: 100%;
    display: flex;
    gap: rem(16);
    flex-direction: column;
    align-items: center;
    text-align: center;

    &--logo {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px $gray-100;
      border-radius: rem(24);
      max-width: rem(392);
      width: 100%;
      height: rem(220);
      padding: rem(16);
    }

    &--description {
      padding: rem(16);
      max-width: rem(392);
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: rem(8);
      align-items: flex-start;
      border-radius: rem(24);
      background-color: $bg-gray-50;
      transition: all 0.5s ease;

      &:hover {
        background-color: $bg-green-50;
      }
    }
  }
}
