@use "../base/global" as *;


.profile {
  &__wrapper {
    display: flex;
    gap: rem(80);
    justify-content: center;
    @include media(md) {
      flex-direction: column;
      gap: rem(32);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    &--title {
      max-width: rem(532);
      width: 100%;
      @include media(md) {
        max-width: rem(1000);
      }
    }

    &--description {
      max-width: rem(392);
      display: flex;
      flex-direction: column;
      gap: rem(96);
      @include media(md) {
        max-width: rem(1000);
        gap: rem(32);
        align-items: center;
      }
    }

    &--text {
      display: flex;
      flex-direction: column;
      gap: rem(8);
    }

    &--photo {
      max-width: rem(392);
      width: 100%;
    }

  }
}
