@use "../base/global" as *;


.track-page {
  margin-top: rem(96);
  min-height: calc(100vh - 279px);

  &__description {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    gap: rem(32);
    @include media(sm) {
      grid-template-columns: 1fr;
      gap: rem(16);
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    @include media(md) {
      gap: rem(16);
    }
    &--item {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(32);
      @include media(md) {
        grid-template-columns: 1fr;
        gap: rem(16);
      }
    }
  }
  &__gallery {
    display: flex;
    flex-direction: row;
    gap: rem(32);
    @include media(md) {
      flex-direction:column;
    }

    &--img  {
      max-width: rem(1099);
      width: 100%;
      @include media(xl) {
        max-width: rem(850);
      }
    }
    &--next-track {
      display: flex;
      flex-direction: column;
      gap: rem(16);
      @include media(md) {
        gap: rem(8);
      }

    }
  }
}

.completed-track{
  &__content{
    display: flex;
    flex-direction: column;
    gap: rem(32);
    justify-content: center;
    align-items: center;
    @include media(md) {
      gap: rem(16);
    }
  }
}
